.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 50px;
}

.username-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

password-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.username-input {
    width: 25%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.password-input {
    width: 25%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}